@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    border-color: #ffebf5;
    background-color: #6a6467;
}

select,
input,
textarea {
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    outline-color: #6a6467;
    font-family: 'Outfit';
}

* {
    font-family: 'Outfit';
}